<% if @user.activated? %>
  <div id="home_logged_in" class="content clearfix">
    <h1>いらっしゃいませ！</h1>
    <div class="microposts">
      <h2 class="icon">最新の投稿をチェックしましょう</h2>
      <%= render 'shared/feed' %>
    </div>
    <aside class="responsive-off">
      <%= link_to "新しい投稿を作成", '/postit', class:"icon" %>
      <%= link_to "マイページへ", @user, class:"icon" %>
    </aside>
  </div>
<% else %>
  <div id="home_not_activated" class="content">
    <h2>いらっしゃいませ、<%= @user.handle %> さん。</h2>
    <div class="not_activated">
      <h3>※アカウントが認証されていません。</h3>
      <p>・アカウント作成時、登録されたメールアドレス宛にアカウント認証用のメールをお送りしておりますので、そちらをご確認ください。</p>
      <p>・もしメールの紛失等によりアカウントが認証出来ない場合は、下記のリンクより認証メールの再送信を行ってください。</p>
      <%= link_to "認証メールを再送信する", resend_activation_email_url, method: :patch, data: { confirm:"認証メールを送信します。よろしいですか？" }, class:"icon" %>
      <div class="divider"></div>
      <%= link_to "ログアウト", logout_path, method: :delete %><br>
      <%= link_to "アカウントを削除する", current_user, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
    </div>
  </div>
<% end %>
