<% provide(:title, 'ログイン') %>
<div class="jumbotron login form">
  <div class="container">
    <h1>ログイン</h1>

    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class:'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, class:'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary btn-mencek btn-login" %>
    <% end %>
    <p class="to_signup">
      アカウントをお持ちでない方は
      <a href='/signup' class="small_link">こちら</a>
    </p>
  </div>
</div>
