<% provide(:title, "プロフィール編集") %>
<h1>プロフィールの編集</h1>
<div class="form">
  <%= form_with model: @user, url: edit_user_url(@user), local: true do |form| %>
    <%= render 'shared/error_messages', object: form.object %>
    <dl>
      <dt>ユーザーネーム</dt>
      <dd><%= form.text_field :handle %></dd>
      <dt>メールアドレス</dt>
      <dd><%= form.email_field :email %></dd>
      <dt>パスワード</dt>
      <dd><%= form.password_field :password %></dd>
      <dt>パスワード確認</dt>
      <dd><%= form.password_field :password_confirmation, placeholder: "確認用" %></dd>
    </dl>
    <%= form.submit "更新", class:"btn" %>
  <% end %>
</div>