<% provide(:title, 'アカウント作成') %>
<div id="signup">
  <h1>アカウント新規作成</h1>
  <div class="form">
    <%= form_with model: @user, url: signup_url, local: true do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <dl>
        <dt>ユーザーネーム</dt>
        <dd><%= form.text_field :handle %></dd>
        <dt>メールアドレス</dt>
        <dd><%= form.email_field :email %></dd>
        <dt>パスワード</dt>
        <dd><%= form.password_field :password %></dd>
        <dt>パスワード確認</dt>
        <dd><%= form.password_field :password_confirmation, placeholder: "確認用" %></dd>
      </dl>
      <%= form.submit "アカウント作成", class:"btn" %>
    <% end %>
  </div>
</div>

