<% if current_user?(@user) %>
  <% provide(:title, "マイページ") %>
<% else %>
  <% provide( :title, "#{ @user.handle }さんのページ" ) %>
<% end %>

<div id="mypage" class="content clearfix">
  <% if current_user?(@user) %>
  <h1><%= "#{ greeting }、#{ @user.handle }さん。" %></h1>
  <% end %>

  <%= render 'shared/user_info_responsive' %>

  <div class="microposts">
    <% if @user.microposts.any? %>
      <h2>投稿</h2>
      <ol class="posts">
      <% @microposts.each do |post| %>
        <% @micropost = post %>
        <%= render 'microposts/micropost' %>
      <% end %>
      </ol>
      <%= paginate @microposts %>
    <% else %>
      <h2>まだ投稿がありません。</h2>
    <% end %>
    <% if request.referer&.include?(user_index_url) %>
      <%= link_to "≪ 戻る", user_index_path %>
    <% else %>
      <%= link_to "≪ ホームへ", '/' %>
    <% end %>
  </div>

  <aside class="responsive-off">
    <%= render 'shared/user_info' %>
    <% if current_user?(@user) %>
      <%= link_to "新しい投稿を作成", '/postit', class:"icon" %>
      <%= link_to "食ベタイ投稿をみる", wanted_posts_user_path(current_user), class:"icon" %>
    <% else %>
      <%= link_to "オススメをみる", recommended_posts_user_path(@user), class:"icon" %>
    <% end %>
  </aside>
</div>
