<% provide(:title,"投稿情報") %>
<div id="post-detail" class="content clearfix">
  <section class="main">
    <h2 class="icon">投稿情報</h2>
    <table>
      <tr>
        <th>店名</th><td><%= @micropost.shop_name %></td>
      </tr>
      <tr>
        <th>注文/購入した品</th><td><%= @micropost.menu_name %></td>
      </tr>
      <tr>
        <th>写真</th>
        <td>
          <% if @micropost.pictures.attached? %>
            <div class="pics">
              <% @micropost.pictures.each do |pic| %>
                <%= image_tag pic.variant(gravity: :center, resize:"300x400^", crop:"300x400+0+0").processed %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>レビュー</th><td><div><%= @micropost.content %></div></td>
      </tr>
      <tr>
        <th>投稿者</th><td><%= link_to @micropost.user.handle, user_path(@micropost.user) %></td>
      </tr>
      <tr>
        <th>投稿日時</th><td><div><%= @micropost.created_at.strftime('%Y年%m月%d日 %H:%M') %><div></td>
      </tr>
    </table>
    <div class="marking clearfix">
      <div class="want_eat-<%= @micropost.id %>">
      <% if !current_user.wanted_posts.include?(@micropost) %>
        <%= render 'users/marking', micropost: @micropost, marking_type: 'WantEat' %>
      <% else %>
        <%= render 'users/unmarking', micropost: @micropost, marking_type: 'WantEat' %>
      <% end %>
      </div>
      <div class="wanters_counter-<%= @micropost.id %>">: <%= @micropost.wanters.count %></div>
      <div class="recommend-<%= @micropost.id %>">
      <% if !current_user.recommended_posts.include?(@micropost) %>
        <%= render 'users/marking', micropost: @micropost, marking_type: 'Recommend' %>
      <% else %>
        <%= render 'users/unmarking', micropost: @micropost, marking_type: 'Recommend' %>
      <% end %>
      </div>
      <div class="recommenders_counter-<%= @micropost.id %>">: <%= @micropost.recommenders.count %></div>

      <% if ( current_user?(@micropost.user) || current_user.admin? ) %>
        <div class="delete"><%= link_to "削除", delete_post_path(@micropost), method: :delete, data: {confirm: "本当によろしいですか？"},class:"delete-btn" %></div>
      <% end %>
    </div>
    <div>
    <% if request.referer&.include?(user_url(@micropost.user)) %>
      <%= link_to "≪ 戻る", user_path(@micropost.user) %>
    <% else %>
      <%= link_to "≪ 戻る", '/' %>
    <% end %>
    </div>
  </section>
  <aside class="responsive-off">
    <%= render 'shared/user_info' %>
    <% if current_user?(@user) %>
      <%= link_to "新しい投稿を作成", '/postit', class:"icon" %>
    <% end %>
  </aside>
</div>