<% provide(:title,"投稿情報") %>
<div id="post-detail" class="content clearfix">
  <section class="main">
    <h2 class="icon">投稿情報</h2>
    <table>
      <tr>
        <th>店名</th><td><%= @micropost.shop_name %></td>
      </tr>
      <tr>
        <th>注文/購入した品</th><td><%= @micropost.menu_name %></td>
      </tr>
      <tr>
        <th>写真</th>
        <td>
          <% if @micropost.pictures.attached? %>
            <div class="pics">
              <% @micropost.pictures.each do |pic| %>
                <%= image_tag pic.variant(gravity: :center, resize:"300x400^", crop:"300x400+0+0").processed %>
              <% end %>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>レビュー</th><td><div><%= @micropost.content %></div></td>
      </tr>
      <tr>
        <th>投稿日時</th><td><div><%= @micropost.created_at.strftime('%Y年%m月%d日 %H:%M') %><div></td>
      </tr>
    </table>
    <% if ( current_user?(@micropost.user) || current_user.admin? ) %>
      <div><%= link_to "この投稿を削除する", delete_post_path(@micropost), method: :delete, data: {confirm: "本当によろしいですか？"},class:"delete-btn" %></div>
    <% end %>
    <div>
    <% if request.referer&.include?(user_url(@micropost.user)) %>
      <%= link_to "≪ 戻る", user_path(@micropost.user) %>
    <% else %>
      <%= link_to "≪ 戻る", '/' %>
    <% end %>
    </div>
  </section>
  <aside class="responsive-off">
    <%= render 'shared/user_info' %>
  </aside>
</div>