<header class="navbar navbar-fixed-top navbar-expand-lg">
  <div class="container">
      <%= link_to base_title, '/', id: "logo", class:"text-decoration-none" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" id="dropdown1" class="dropdown-toggle" data-boundary="parent"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.handle %>
            </a>
            <ul class="dropdown-menu" aria-labeledby="dropdown1">
              <li class="dropdown-item"><%= link_to "マイページ", current_user %></li>
              <li class="dropdown-item"><%= link_to "プロフィール編集", '#' %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item">
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "アカウント作成", '/signup', class:"menu" %></li>
          <li><%= link_to "ログイン", '/login', class:"menu" %></li>
        <% end %>
        </ul>
      </nav>
  </div>
</header>
