<header>
    <div class="logo">
      <%= link_to image_tag("header.png"), '/', alt:"ロゴ" %>
    </div>
    <nav>
      <ul class="global-nav dropdown-menu">
        <% if logged_in? %>
        <li><%= link_to "他のユーザー", '/user_index' %></li>
        <li class="user-icon-box">
        <% if current_user.icon.attached? %>
          <%= link_to image_tag(current_user.icon_small, class:"small-icon"), current_user, alt:"ユーザーアイコン" %>
        <% else %>
          <%= link_to image_tag("mencek_icon_default.gif", width:"50", height:"50", class:"small-icon"), current_user, alt:"ユーザーアイコン" %>
        <% end %>
          <ul>
            <li><%= link_to "マイページ", current_user %></li>
            <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
            <li class="dropdown-divider"></li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>
          <% if !current_user.admin? %>
            <li class="dropdown-divider"></li>
            <li>
              <%= link_to "アカウント削除", current_user, method: :delete, data: { confirm: "本当に削除してよろしいですか？" } %>
            </li>
          <% end %>
          </ul>
        </li>
        <% else %>
        <li><%= link_to "アカウント作成", '/signup' %></li>
        <li><%= link_to "ログイン", '/login' %></li>
        <% end %>
      </ul>
    </nav>
</header>
